

.brand {
  background-color: var(--black-3);

  @include light {
    background-color: var(--white-2);
  }

  .line {
    padding: 80px 0;
  }

  .width {
    max-width: 820px;
    margin-inline-start: auto;
  }

  .title-width {
    max-width: 260px;

    @media #{$md} {
      max-width: 360px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 60px;
    }

    @media #{$sm} {
      width: 90%;
      max-width: 100%;
      margin-bottom: 50px;
    }

    .title {
      font-family: $font_estedad;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.3;
      color: var(--white);
      text-transform: uppercase;

      @include light {
        color: var(--black-2);
      }

      @media #{$sm} {
        font-size: 20px;
      }
    }
  }

  .rfm-child {
    margin-inline-end: 116px;

    @media #{$lg} {
      margin-inline-end: 60px;
    }
    @media #{$sm} {
      margin-inline-end: 40px;
    }
  }
}

.brand2 {
  .wrap {
    text-align: center;
    border-top: 1px solid var(--gray-9);

    @include light {
      border-color: #d7d0cc;
    }

    .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: var(--white);
      display: inline-block;
      padding: 0 10px;
      text-transform: uppercase;
      transform: translateY(-100%);
      background-color: var(--black-2);

      @include light {
        color: var(--black-2);
        background-color: var(--white);
      }
    }
  }

  .slider {
    padding-top: 40px;

    .rfm-child {
      margin-inline-end: 116px;

      @media #{$lg} {
        margin-inline-end: 60px;
      }
      @media #{$sm} {
        margin-inline-end: 40px;
      }
    }
  }
}

