.contact-section {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  background-color: var(--black-3);

  @include light {
    background-color: var(--gray-13);
  }

  .sec-title-wrapper {
    padding-bottom: 60px;

    p {
      font-size: 20px;
    }
  }

  .grid {
    display: grid;
    grid-gap: 30px;

    @media #{$sm} {
      margin-bottom: 60px;
    }
  }

  .type {
    display: grid;

    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid var(--black-6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      border-radius: 50px;

      @include light {
        border-color: var(--white-6);
      }
    }

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: var(--gray-4);
      transition: all 0.3s;

      &:hover {
        color: var(--gold);

        @include light {
          color: var(--primary);
        }
      }
    }
  }

  .name {
    font-size: 14px;
    line-height: 1.5;
    color: var(--white);
    padding-bottom: 5px;
    font-weight: 500;

    @include light {
      color: var(--black-2);
    }
  }

  .nameT {
    font-size: 13px;
    line-height: 1.5;
    color: var(--white);
    padding-bottom: 5px;
    font-weight: 500;

    @include light {
      color: var(--gray-3);
    }
  }

  .form {
    position: relative;

    .input-item p {
      color: red;
    }

    &.common {

      .input-item input,
      .input-item textarea {
        @include light {
          background-color: var(--white-4);
          border-radius: 56px;
        }
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      color: var(--black-3);
      border-radius: 24px;

      @include light {
        background-color: var(--white);

      }

      @media #{$lg} {
        gap: 20px;
      }

      @media #{$sm} {
        gap: 25px 10px;
      }
    }

    .input-item {
      width: calc(50% - 15px);

      @media #{$lg} {
        width: 100%;
      }

      input {
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        color: var(--gray-4);
        background-color: var(--white-4);
        border-radius: 56px;

        @include light {
          background-color: var(--gray-10);
        }
      }

      textarea {
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        height: 150px;
        resize: none;
        border-radius: 24px;
        color: var(--gray-4);
        background-color: var(--white-4);

        @include light {
          background-color: var(--gray-10);
        }
      }

      &.submit button {
        font-size: 14px;
        font-weight: 500;
        border-radius: 30px;
        padding: 18px 40px;
        border-color: transparent;
        text-transform: uppercase;
        color: var(--black-2);

        &::after {
          background-color: var(--gold);
          z-index: -1;
        }

        &:hover {
          background-color: var(--white);
        }

        i {
          font-size: 16px;
          padding-inline-start: 5px;

          @include rtl {
            transform: rotate(180deg);
          }
        }
      }

      &.full {
        width: 100%;
      }

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--white);
        padding-bottom: 8px;

        @include light {
          color: var(--black-2);
        }
      }
    }
  }
}

.contact-section {
  .sec-p {
    font-size: 16px !important;
    line-height: 1.6;
    color: var(--gray1);
  }

  .sec-title {
    font-weight: 500 !important;
    font-size: 50px !important;
  }
}

.contact-section {
  .grid {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: var(--gold);
      border-radius: 2px;
    }

    .type {
      padding-left: 20px;
      margin-bottom: 20px;
    }
  }
}