.contact-section {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  background-color: var(--black-3);

  @include light {
    background-color: var(--white-2);
  }

  .sec-title-wrapper {
    padding-bottom: 60px;

    p {
      font-size: 20px;
    }
  }

  .grid {
    display: grid;
    grid-gap: 30px;

    @media #{$sm} {
      margin-bottom: 60px;
    }
  }

  .type {
    display: grid;
    grid-template-columns: 80px auto;

    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid var(--black-6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      border-radius: 50px;

      @include light {
        border-color: var(--white-6);
      }
    }

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: var(--gray-4);
      transition: all 0.3s;

      &:hover {
        color: var(--primary);

        @include light {
          color: var(--primary);
        }
      }
    }
  }

  .name {
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 500;

    @include light {
      color: var(--black-2);
    }
  }

  .form {
    position: relative;
    .input-item p{
      color:  red;
    }
    &.common {
      .input-item input,
      .input-item textarea {
        @include light {
          background-color: var(--white-4);
        }
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @media #{$lg} {
        gap: 20px;
      }

      @media #{$sm} {
        gap: 25px 10px;
      }
    }

    .input-item {
      width: calc(50% - 15px);

      @media #{$lg} {
        width: 100%;
      }

      input {
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        color: var(--gray-4);
        background-color: var(--black-4);

        @include light {
          background-color: var(--white);
        }
      }

      textarea {
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        height: 150px;
        resize: none;
        color: var(--gray-4);
        background-color: var(--black-4);

        @include light {
          background-color: var(--white);
        }
      }

      &.submit button {
        font-size: 14px;
        font-weight: 500;
        border-radius: 30px;
        padding: 18px 40px;
        border-color: transparent;
        text-transform: uppercase;
        color: var(--black-2);

        &::after {
          background-color: var(--primary);
          z-index: -1;
        }

        &:hover {
          background-color: var(--white);
        }

        i {
          font-size: 16px;
          padding-inline-start: 5px;

          @include rtl {
            transform: rotate(180deg);
          }
        }
      }

      &.full {
        width: 100%;
      }

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--white);
        padding-bottom: 8px;
        text-transform: capitalize;

        @include light {
          color: var(--black-2);
        }
      }
    }
  }
}