.footer {
  background-color: var(--black-3);

  @include light {
    background-color: var(--white-2);
  }

  .logo {
    height: 100%;
    display: flex;
    align-items: center;

    @media #{$md} {
      height: auto;
      justify-content: center;
      margin-bottom: 60px;
    }
  }

  .top {
    padding-top: 70px;
    padding-bottom: 70px;

    @media #{$sm} {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .info {
    display: flex;
    gap: 140px;
    justify-content: flex-end;
    position: relative;
    z-index: 99;

    @media #{$xl} {
      gap: 80px;
    }

    @media #{$md} {
      justify-content: center;
    }

    @media #{$sm} {
      margin-top: 30px;
      gap: 35px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: var(--gray-4);
      padding-bottom: 10px;
      text-transform: uppercase;

      @media #{$md} {
        padding-bottom: 5px;
      }
    }

    .link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      color: var(--white);

      @include light {
        color: var(--black-2);
      }

      @media #{$md} {
        font-size: 16px;
      }

      &:hover {
        color: var(--primary);
      }
    }

    .social {
      li {
        padding-inline-start: 15px;
        display: inline-block;

        &:first-child {
          padding-inline-start: 0;
        }

        a {
          display: block;
          font-size: 20px;
          color: var(--gray-4);
          transition: all 0.3s;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }

  .footer__btm {
    padding: 30px 0;
    border-top: 1px solid var(--black-5);

    @include light {
      border-color: var(--white-4);
    }

    .copyright {
      text-align: center;

      p {
        a {
          color: var(--white);

          @include light {
            color: var(--black-2);
          }

          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}




