.header {
  position: absolute !important;
  width: 100%;
  height: auto;
  inset-inline-start: 0;
  top: 0;
  padding: 0 15px;
  z-index: 999;
  background: linear-gradient(to right,
      rgba(30, 144, 255, 0.85),
      rgba(0, 11, 21, 0.85),

    );
  // backdrop-filter: blur(12px);
  // -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  @media #{$lg} {
    padding: 15px 25px;
  }

  @media #{$sm} {
    padding: 0 15px;
  }

  .logo {
    width: 50%;
  }

  .inner {
    display: flex;
    // grid-template-columns: 1fr 5fr 1fr;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media #{$lg} {
      grid-template-columns: 1fr 1fr;
    }
  }

  .nav {
    width: 100%;

    @media #{$lg} {
      display: none;
    }

    .main-menu>ul>li {

      >a,
      >span {
        font-size: 15px;
        font-weight: 500;
        padding: 30px 25px;
      }
    }

    .dp-menu {
      background-color: var(--black-4);

      @include light {
        background-color: var(--white-2);
      }

      li {
        a {
          background-color: var(--black-4);

          @include light {
            background-color: var(--white-2);
          }
        }
      }
    }

    .main-menu>ul {
      justify-content: space-between;
    }
  }

  .others {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    position: relative;
    padding: 20px 0;
  }

  .menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: 5px;
    display: none;

    @media (max-width: 678px) {
      display: inline-block;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 0;
      inset-inline-start: 0;
      background-color: var(--white);
      transition: all 0.3s;

      @include light {
        background-color: var(--white);
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      inset-inline-start: 0;
      background-color: var(--white);
      transition: all 0.3s;

      @include light {
        background-color: var(--white);
      }
    }

    span {
      position: absolute;
      content: "";
      width: 18px;
      height: 1px;
      top: 50%;
      inset-inline-end: 0;
      transition: all 0.3s;
      background-color: var(--white);

      @include light {
        background-color: var(--white);
      }
    }

    &:hover {

      &::after,
      &::before,
      span {
        background-color: var(--gold);
      }
    }
  }
}