
.hero {
  position: relative;
background: 
    linear-gradient( to right,
     var(--primarybg),  
      rgba(0, 0, 0, 0.5)   
    ),
    url('/assets/imgs/hero/hero.png') center/cover no-repeat;
  // background-blend-mode: overlay;
  .row {
    @media #{$md} {
      margin-top: 13vh;
    }

    @media #{$sm} {
      margin-top: 0px;

    }
  }

  .hero-shape {
    position: absolute;
    bottom: 130px;
    inset-inline-start: 60px;

    @media #{$xxl} {
      inset-inline-start: 7px;
      bottom: 70px;
    }

    @media #{$xl} {
      bottom: 20px;
      max-width: 80px;
    }

    @media #{$xl} {
      bottom: 60px;
      inset-inline-start: 15px;
    }
  }

  .left {
    padding-top: 180px;
    font-family: $font_estedad;
    @include zi(9);

    @media #{$xl} {
      padding-top: 200px;
    }

    @media #{$sm} {
      padding-top: 120px;
    }

    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      color: var(--white);
      margin-bottom: 70px;

      @include light {
        color: var(--black-2);
      }

      @media #{$sm} {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }
  }

  .right {
    padding-inline-start: 100px;
    position: relative;
    margin-inline-end: -60px;
    z-index: 1;

    @media #{$lg} {
      padding-inline-start: 0;
      margin-inline-end: -41px;
    }

    @media #{$sm} {
      padding-inline-start: 0;
      margin-inline-end: 0;
    }

    .hero-img {
      @media #{$sm} {
        text-align: end;
      }

      img {
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;

        @include rtl {
          transform: rotateY(180deg);
        }

        @media #{$xl} {
          max-width: 530px;
        }

        @media #{$lg} {
          max-width: 110%;
        }

        @media #{$md} {
          position: relative;
          max-width: 400px;
        }

        @media #{$sm} {
          max-width: 280px;
        }
      }
    }
  }


  .info {
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media #{$md} {
        grid-template-columns: 1fr;
      }

      .say_hello {
        font-family: $font_estedad;
        padding: 40px 50px;

        @media #{$lg} {
          padding: 30px;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          color: var(--black-2);
        }

        a {
          display: inline-block;
          color: var(--black-2);
          font-weight: 500;
          font-size: 20px;
          line-height: 1;
          margin-top: 10px;
          text-transform: initial;
          @include border_btm(var(--black-2), var(--black-2));
        }
      }
    }
  }

  .hello {
    margin-top: 30vh;
    height: calc(70vh + 130px);
    margin-bottom: -130px;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -1;

    @media #{$md} {
      margin-top: 0px;
      height: auto;
      margin-bottom: 0;
      order: 2;
    }

    @media #{$sm} {
      @include zi(1);
    }
  }

  .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
    color: var(--white);
    padding-bottom: 30px;
    text-transform: capitalize;
    @media #{$xl} {
      font-size: 80px;
    }

    @media #{$lg} {
      font-size: 72px;
    }

    @media #{$md} {
      font-size: 60px;
    }

    @media #{$sm} {
      font-size: 30px;
      padding-bottom: 0px;
    }

    @include light {
    color: var(--white);
    }
  }

  .title-area {
    @media #{$sm} {
      display: grid;
      // grid-template-columns: 1.2fr 0.8fr;
    }
  }

  .follow {
    margin-inline-start: 90px;

    @media #{$md} {
      margin-inline-start: 40px;
    }

    @media #{$sm} {
      margin-inline-start: 0;
    }

  
  }

  .typed_title {
    text-transform: capitalize;
    color: var(--white);
      font-size: 16px;
    
    @media #{$sm} {
      font-size: 13px;
    }
  }
}

.service-hero {
  margin-top: 70px;
  padding-bottom: 60px;

  @media #{$lg} {
    padding-bottom: 50px;
  }

  .indent {
    &-160 {
      text-indent: 160px;

      @media #{$lg} {
        text-indent: 110px;
      }

      @media #{$md} {
        text-indent: 100px;
      }

      @media #{$sm} {
        text-indent: 50px;
      }
    }
  }

  .title {
    font-size: 90px;
    font-weight: 600;
    line-height: 1.1;
    color: var(--white);
    font-family: $font_estedad;

    @include light {
      color: var(--black-2);
    }

    @media #{$xl} {
      font-size: 80px;
    }

    @media #{$lg} {
      font-size: 60px;
    }

    @media #{$sm} {
      font-size: 40px;
    }
  }

  .text {
    p {
      font-size: 18px;
      line-height: 1.6;

      span {
        font-weight: 500;
        color: var(--white);

        @include light {
          color: var(--black-2);
        }
      }
    }

    &-2 {
      p {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.3;
        color: var(--white);

        @include light {
          color: var(--black-2);
        }

        @media #{$sm} {
          font-size: 22px;
        }
      }
    }

    &-pd {
      width: 265px;
      padding-top: 60px;
      margin-inline-start: 60%;

      @media #{$sm} {
        margin-inline-start: 75px;
        padding-top: 40px;
      }
    }

    &-wrap {
      max-width: 850px;
      margin: 0 auto;
      text-align: center;

      .line-btm {
        padding-bottom: 60px;

        @media #{$lg} {
          padding-bottom: 50px;
        }
      }
    }
  }

  .content {
    position: relative;

    .shape {
      position: absolute;
      max-width: 90px;
      inset-inline-start: 40%;

      @include rtl {
        transform: rotateY(180deg);
      }

      @include light {
        filter: brightness(0);
      }

      @media #{$lg} {
        max-width: 70px;
      }

      @media #{$sm} {
        inset-inline-start: 0;
        max-width: 50px;
        padding-top: 30px;
      }
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}

