
.hero {
  position: relative;

  .row {
    @media #{$md} {
      margin-top: 13vh;
    }

    @media #{$sm} {
      margin-top: 0px;
    }
  }

  .hero-shape {
    position: absolute;
    bottom: 130px;
    inset-inline-start: 60px;

    @media #{$xxl} {
      inset-inline-start: 7px;
      bottom: 70px;
    }

    @media #{$xl} {
      bottom: 20px;
      max-width: 80px;
    }

    @media #{$xl} {
      bottom: 60px;
      inset-inline-start: 15px;
    }
  }

  .left {
    padding-top: 280px;
    font-family: $font_estedad;
    @include zi(9);

    @media #{$xl} {
      padding-top: 200px;
    }

    @media #{$sm} {
      padding-top: 120px;
    }

    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 70px;

      @include light {
        color: var(--black-2);
      }

      @media #{$sm} {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }
  }

  .right {
    padding-inline-start: 100px;
    position: relative;
    margin-inline-end: -60px;
    z-index: 1;

    @media #{$lg} {
      padding-inline-start: 0;
      margin-inline-end: -41px;
    }

    @media #{$sm} {
      padding-inline-start: 0;
      margin-inline-end: 0;
    }

    .hero-img {
      @media #{$sm} {
        text-align: end;
      }

      img {
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;

        @include rtl {
          transform: rotateY(180deg);
        }

        @media #{$xl} {
          max-width: 530px;
        }

        @media #{$lg} {
          max-width: 110%;
        }

        @media #{$md} {
          position: relative;
          max-width: 400px;
        }

        @media #{$sm} {
          max-width: 280px;
        }
      }
    }
  }

  .experience {
    font-family: $font_estedad;
    height: 100vh;
    padding: 100px 70px;
    background-color: var(--blue-light);

    @media #{$lg} {
      padding: 80px 30px;
    }

    @media #{$md} {
      height: auto;
      padding: 40px 30px;
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }

    @media #{$sm} {
      padding: 35px 40px;
    }

    .content {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
      color: var(--white);
      border-bottom: 1px solid var(--gray-3);
      padding-bottom: 40px;
      margin-bottom: 40px;
      position: relative;

      @media #{$md} {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      span {
        display: block;
        font-weight: 400;
        font-size: 80px;
        line-height: 1;
        padding-bottom: 12px;

        @media #{$md} {
          font-size: 65px;
        }
      }
    }

    .work-process {
      display: grid;
      grid-template-columns: 100px auto;
      position: relative;
      z-index: 9;

      @media #{$md} {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--white);
        display: flex;
        align-items: center;

        @media #{$md} {
          text-align: center;
          margin-top: 2px;
        }

        br {
          @media #{$md} {
            display: none;
          }
        }
      }

      p {
        font-size: 20px;
        color: var(--primary);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--black-2);
        transition: all 0.5s;
        @include zi(9);

        &:hover {
          color: var(--black-2);
          background-color: var(--primary);
        }
      }
    }
  }

  .info {
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media #{$md} {
        grid-template-columns: 1fr;
      }

      .say_hello {
        font-family: $font_estedad;
        padding: 40px 50px;

        @media #{$lg} {
          padding: 30px;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          color: var(--black-2);
          text-transform: uppercase;
        }

        a {
          display: inline-block;
          color: var(--black-2);
          font-weight: 500;
          font-size: 26px;
          line-height: 1;
          margin-top: 10px;
          text-transform: initial;
          @include border_btm(var(--black-2), var(--black-2));
        }
      }
    }
  }

  .hello {
    margin-top: 30vh;
    height: calc(70vh + 130px);
    background-color: var(--primary);
    margin-bottom: -130px;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -1;

    @media #{$md} {
      margin-top: 0px;
      height: auto;
      margin-bottom: 0;
      order: 2;
    }

    @media #{$sm} {
      @include zi(1);
    }
  }

  .title {
    font-weight: 600;
    font-size: 90px;
    line-height: 1;
    color: var(--white);
    padding-bottom: 30px;
    text-transform: uppercase;

    @media #{$xl} {
      font-size: 80px;
    }

    @media #{$lg} {
      font-size: 72px;
    }

    @media #{$md} {
      font-size: 60px;
    }

    @media #{$sm} {
      font-size: 30px;
      padding-bottom: 0px;
    }

    @include light {
      color: var(--black-2);
    }
  }

  .title-area {
    @media #{$sm} {
      display: grid;
      grid-template-columns: 1.2fr 0.8fr;
    }
  }

  .follow {
    margin-inline-start: 90px;

    @media #{$md} {
      margin-inline-start: 40px;
    }

    @media #{$sm} {
      margin-inline-start: 0;
    }

    .social {
      padding: 10px 20px;
      border-inline-start: 1px solid var(--black-6);

      @media #{$sm} {
        // padding: 7px 12px;
        display: none;
      }

      @include light {
        border-color: var(--gray-4);
      }

      .follow-me {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-4);
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      li {
        @include social_media(var(--black-9), var(--primary));
      }
    }
  }

  .typed_title {
    @media #{$sm} {
      font-size: 13px;
    }
  }
}

.service-hero {
  margin-top: 70px;
  padding-bottom: 60px;

  @media #{$lg} {
    padding-bottom: 50px;
  }

  .indent {
    &-160 {
      text-indent: 160px;

      @media #{$lg} {
        text-indent: 110px;
      }

      @media #{$md} {
        text-indent: 100px;
      }

      @media #{$sm} {
        text-indent: 50px;
      }
    }
  }

  .title {
    font-size: 90px;
    font-weight: 600;
    line-height: 1.1;
    color: var(--white);
    text-transform: uppercase;
    font-family: $font_estedad;

    @include light {
      color: var(--black-2);
    }

    @media #{$xl} {
      font-size: 80px;
    }

    @media #{$lg} {
      font-size: 60px;
    }

    @media #{$sm} {
      font-size: 40px;
    }
  }

  .text {
    p {
      font-size: 18px;
      line-height: 1.6;

      span {
        font-weight: 500;
        color: var(--white);

        @include light {
          color: var(--black-2);
        }
      }
    }

    &-2 {
      p {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.3;
        color: var(--white);

        @include light {
          color: var(--black-2);
        }

        @media #{$sm} {
          font-size: 22px;
        }
      }
    }

    &-pd {
      width: 265px;
      padding-top: 60px;
      margin-inline-start: 60%;

      @media #{$sm} {
        margin-inline-start: 75px;
        padding-top: 40px;
      }
    }

    &-wrap {
      max-width: 850px;
      margin: 0 auto;
      text-align: center;

      .line-btm {
        padding-bottom: 60px;

        @media #{$lg} {
          padding-bottom: 50px;
        }
      }
    }
  }

  .content {
    position: relative;

    .shape {
      position: absolute;
      max-width: 90px;
      inset-inline-start: 40%;

      @include rtl {
        transform: rotateY(180deg);
      }

      @include light {
        filter: brightness(0);
      }

      @media #{$lg} {
        max-width: 70px;
      }

      @media #{$sm} {
        inset-inline-start: 0;
        max-width: 50px;
        padding-top: 30px;
      }
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}

