.offcanvas-1 {
  .area {
background: 
    linear-gradient( to right,
 rgba(30, 144, 255, 0.9),  
      rgba(0, 0, 0, 0.9)   
    );    
  background-blend-mode: overlay;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    z-index: 1;
    overflow: hidden;

    @media (max-height: 500px) {
      padding: 40px;
    }
  }

  .inner {
    display: grid;
    grid-template-columns: 340px 1fr;
    height: 100%;

    @media #{$md} {
      grid-template-columns: 260px 1fr;
    }

    @media #{$sm} {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
    }

    @media (max-height: 500px) {
      overflow-y: scroll;
    }
  }

  .meta {
    li {
      font-size: 18px;
      line-height: 20px;
      color: var(--white);
      font-family: $font_glorifydemo;
      margin-inline-end: 40px;

      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }
  }

  .meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
  }

  .social {
    .title {
      font-size: 18px;
      line-height: 20px;
      color: var(--white);
      font-family: $font_glorifydemo;
      margin-bottom: 10px;
    }
  }

  .social-links {
    display: flex;
    gap: 20px;

    a {
      font-size: 18px;
      color: var(--white);
    }
  }

  .menu {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 1px;
      background-color: var(--white);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--gray-6);
    }

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background: var(--white);
      inset-inline-start: 8px;
      top: 0;

      @media #{$sm} {
        display: none;
      }

      @media (max-height: 500px) {
        height: 100%;
      }
    }

    li {
      padding-inline-start: 58px;
      position: relative;

      @media #{$sm} {
        padding-inline-start: 0;
      }

      &:hover {
        > a {
          color: var(--white);
        }

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

      &:before {
        position: absolute;
        content: "";
        width: 17px;
        height: 17px;
        background: var(--white);
        border-radius: 50%;
        border: 4px solid var(--black-2);
        inset-inline-start: 0;
        top: 38%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;

        @media #{$sm} {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 26px;
      }

      a {
        font-size: 120px;
        font-size: 8vh;
        color: var(--white);
        font-family: $font_glorifydemo;
        line-height: 0.9;
        position: relative;
        transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
        text-decoration: none;
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-image: linear-gradient(90deg, #fff, #ddd 50%, #666 0);
        background-size: 200% 100%;
        background-position: 100%;
        transform: perspective(359px) rotateY(-18deg);

        &:hover {
          background-position: 0;
          color: #fff;
          letter-spacing: 1.5px;
        }

        @media #{$xl} {
          font-size: 7vh;
        }

        @media #{$lg} {
          font-size: 6vh;
        }

        @media #{$md} {
          font-size: 5vw;
        }
      }
    }
  }

  .menu-wrapper {
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }

  .close-button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
background: 
    linear-gradient( to right,
 rgba(30, 144, 255, 0.9),  
      rgba(0, 0, 0, 0.9)   
    );    
  background-blend-mode: overlay;    position: relative;
    border: 1px solid var(--white);

    @media #{$sm} {
      width: 50px;
      height: 50px;
    }

    span {
      width: 26px;
      height: 1px;
      display: inline-block;
      background-color: var(--white);
      position: absolute;
      left: 50%;
      top: 50%;

      @media #{$sm} {
        width: 20px;
      }

      &:first-child {
        transform: translateX(-50%) rotate(45deg);
      }

      &:last-child {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }
}



