// Service Card

.service-card-1 {
  padding: 50px 40px;
  background-color: var(--black-4);

  @include light {
    background-color: var(--white-2);
  }

  @media #{$xl} {
    padding: 40px 25px;
  }

  @media #{$lg} {
    padding: 40px 15px;
  }

  @media #{$md} {
    padding: 50px 40px;
  }

  &:hover {
    .title {
      color: var(--primary);
    }
  }

  .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.1;
    padding-bottom: 80px;
    text-transform: uppercase;
    transition: all 0.3s;

    @media #{$lg} {
      font-size: 22px;
      padding-bottom: 50px;
    }

    @media #{$sm} {
      padding-bottom: 50px;
    }
  }

  .icon {
    margin-bottom: 75px;

    @media #{$lg} {
      margin-bottom: 40px;
    }

    @media #{$sm} {
      margin-bottom: 40px;
    }
  }
}
// Service Section

.service-section {
  .sec {
    &-title {
      @media #{$sm} {
        padding-bottom: 30px;
      }
    }

    &-text-width {
      max-width: 332px;
      margin-inline-start: auto;

      @media #{$sm} {
        margin-inline-start: unset;
      }

      span {
        font-weight: 700;
        color: var(--white);

        @include light {
          color: var(--black-2);
        }
      }
    }
  }

  .grid {
    padding-top: 60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$sm} {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.service-details {
  .title-wrapper {
    margin-top: 70px;

    .sec-title-18 {
      font-size: 170px;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;

      @media #{$xxl} {
        font-size: 140px;
      }

      @media #{$xl} {
        font-size: 120px;
      }

      @media #{$lg} {
        font-size: 100px;
      }

      @media #{$md} {
        font-size: 60px;
      }

      @media #{$sm} {
        font-size: 40px;
      }

      br {
        display: none;
      }
    }
  }

  .thumb {
    img {
      width: 100%;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 140px;
    padding-top: 90px;

    @media #{$lg} {
      gap: 50px;
    }

    @media #{$sm} {
      grid-template-columns: 1fr;
      padding-top: 50px;
    }

    .item {
      .sub-title-service {
        font-size: 60px;
        font-weight: 400;

        @media #{$lg} {
          font-size: 45px;
        }

        @media #{$md} {
          font-size: 36px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.5;

        @media #{$sm} {
          font-size: 16px;
        }
      }

      .subtitle {
        font-size: 40px;

        @media #{$sm} {
          font-size: 30px;
        }
      }

      .award {
        max-width: 410px;
      }
    }
  }

  .other-service {
    background-color: #212224;
    padding: 40px;

    @include light {
      background-color: #fafafa;
    }

    @media #{$md} {
      padding: 20px;
    }

    .other-title {
      font-size: 30px;
      text-transform: uppercase;

      @media #{$md} {
        font-size: 20px;
      }

      @include light {
        color: var(--black-2);
      }
    }

    .service-name {
      br {
        display: none;
      }
    }

    ul {
      li {
        border-bottom: 1px solid #3f3f3f;

        &:last-child {
          border: 0;

          a {
            padding-bottom: 0;
          }
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 0;
          color: var(--gray-10);
          font-size: 20px;

          @include light {
            border-color: #e9e9e9;
          }

          svg {
            opacity: 0;
            visibility: hidden;
            transition: 0.7s;

            @include rtl {
              transform: rotateY(180deg);
            }
          }

          &:hover {
            color: var(--white);

            @include light {
              color: var(--black-2);
            }

            svg {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .video-thumb {
    position: relative;

    &:hover {
      .video-button-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      width: 100%;
    }

    .video-button-wrapper {
      position: absolute;
      opacity: 0;
      visibility: none;
      left: 50%;
      top: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);
      transition: all 0.5s;

      @media #{$md} {
        opacity: 1;
        visibility: visible;
      }

      .wc-play-icon {
        width: 95px;
        height: 95px;
        border-radius: 50px;
        background: var(--white);
        line-height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-2);

        &:hover {
          color: var(--primary);
        }

        @media #{$lg} {
          width: 70px;
          height: 70px;
          line-height: 70px;
        }

        @media #{$sm} {
          width: 40px;
          height: 40px;
          line-height: 70px;
        }

        svg {
          @media #{$sm} {
            width: 8px;
          }
        }
      }

      .play-icon-border {
        outline: 1px solid var(--white);
        outline-offset: 30px;

        @media #{$sm} {
          outline-offset: 20px;
        }
      }
    }
  }
}
