.skill {
  background-color: var(--black-3);

  @include light {
    background-color: var(--white-2);
  }

  .line::before,
  .line::after,
  .line-3 {
    background-color: var(--black-5);

    @include light {
      background-color: var(--white-4);
    }
  }

  .sec-title-wrapper {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 60px;

    @media #{$md} {
      padding-top: 0;
    }
  }

  .grid-3 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);

    @media #{$xl} {
      grid-gap: 20px;
    }

    @media #{$md} {
      grid-template-columns: repeat(3, 1fr);
    }

    @media #{$sm} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.skill-card-1 {
  padding: 74px 20px 64px;
  text-align: center;
  border-radius: 100px;
  background-color: var(--black-4);

  @media #{$md} {
    padding: 100px 20px;
  }
  @media #{$sm} {
    padding: 74px 20px 64px;
  }

  @include light {
    background-color: var(--white-3);
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }

  img {
    margin-bottom: 40px;
    filter: grayscale(1);
    transition: 0.5s;
  }

  .percentage {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: 5px;

    @media #{$lg} {
      font-size: 32px;
    }

    @include light {
      color: var(--black-2);
    }
  }

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: var(--gray-4);
    text-transform: uppercase;
  }
}


