.skill {
  background-color: var(--black-3);

  @include light {
    background-color: var(--gray-13);
  }

  .line::before,
  .line::after,
  .line-3 {
    background-color: var(--black-5);

    @include light {
      background-color: var(--white-4);
    }
  }

  .sec-title-wrapper {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;

    @media #{$md} {
      padding-top: 0;
    }
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
background-color: var(--white);
  overflow: hidden;
    background-color: transparent;

    @media #{$xl} {
    }

    @media #{$md} {
      grid-template-columns: repeat(3, 1fr);
    }

    @media #{$sm} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.skill-card-1 {
  padding: 24px 20px 24px;
  text-align: left;
  background-color: var(--black-4);
border-right: 0.5px solid #ccc;
  @media #{$md} {
    padding: 100px 20px;
    
  }
  @media #{$sm} {
    padding: 24px 20px 24px;
  }

  @include light {
    background-color: var(--white);
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }

  img {
    margin-bottom: 20px;
    // filter: grayscale(1);
    transition: 0.5s;
    background-color: var(--primary);
    border-radius: 50%;
padding:10px
  }

  .percentage {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    text-align: left;
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: 5px;

    @media #{$lg} {
      font-size: 32px;
    }

    @include light {
      color: var(--black-2);
    }
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-6);
    letter-spacing: 0.6px;
  }
}


.skill-card-1 {
  border-radius: 0;

  &:nth-child(6n + 1) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &:nth-child(6n) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: none;
  }
}
@media #{$md} {
  .skill-card-1 {
    &:nth-child(3n + 1) {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &:nth-child(3n) {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-right: none;
    }
  }
}
@media #{$sm} {
  .skill-card-1 {
    &:nth-child(2n + 1) {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &:nth-child(2n) {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-right: none;
    }
  }
}

