/*----------------------------------------*/
/*  01. MENU CSS START
/*----------------------------------------*/
.main-menu {
  width: 100%;
  > ul {
    display: flex;

    > li {
      &:hover {
        > a,
        span {
          color: var(--primary);
        }

        > ul {
          opacity: 1;
          pointer-events: all;
          inset-inline-start: 0;

          &.dp-menu li {
            &:hover {
              > ul {
                opacity: 1;
                pointer-events: all;
                inset-inline-start: 100%;
              }
            }
          }
        }
      }
    }
  }

  li {
    position: relative;

    a,
    span {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      color: var(--white);
      padding: 30px 25px;
      text-transform: capitalize;

      @include light {
        color: var(--black-2);
      }
    }
  }

  ul.dp-menu {
    background-color: #232529;
    padding: 18px 0px;
    width: 250px;
    position: absolute;
    inset-inline-start: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: all 0.5s;

    @include light {
      background-color: var(--white-3);
    }

    ul {
      background: var(--black-2);
      padding: 18px 0px;
      width: 300px;
      position: absolute;
      inset-inline-start: calc(100% + 10px);
      top: 0;
      opacity: 0;
      z-index: 10;
      transition: all 0.5s;
    }

    li {
      position: relative;
      padding: 0 25px;

      &:hover {
        > a {
          color: var(--primary);
          background-color: transparent;
        }

        > ul {
          opacity: 1;
          transform: none !important;
          pointer-events: all;
        }
      }

      a {
        font-size: 16px;
        font-weight: 500;
        color: #999999;
        padding: 10px 0;
        background-color: transparent;
        border-radius: 8px;
        text-transform: capitalize;

        &:hover {
          letter-spacing: 0.5px;
        }

        &:after {
          transform: rotate(-90deg);
          margin-left: auto;
        }
      }
    }
  }

  .angle-icon {
    display: flex;
    align-items: center;

    svg {
      margin-inline-start: 5px;
    }
  }
}

